# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar dependencias en Node.js
node_modules/

# Ignorar archivos de configuración de entornos virtuales en Python
venv/
__pycache__/

# Ignorar configuraciones de editor de código
.vscode/
.idea/

# Ignorar archivos de logs
logs/
*.log

# Ignorar credenciales
.env
*.key
*.pem

